.review-card {
  background-color: #fff;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
  height: 250px;
  width: 45%;
}

.review-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px;
  color: #555;
}

.reviewer-name {
  font-weight: bold;
  font-size: 18px;
}

.review-date {
  color: #999;
  margin-top: 20px;
}

.review-rating {
  margin-bottom: 10px;
}

.star {
  color: #ddd;
  font-size: 18px;
  margin-right: 3px;
}

.star.filled {
  color: #ffbc00;
}

.review-feedback {
  font-size: 16px;
  color: #8f8a8a;
  line-height: 1.5;
}

.review-more-btn {
  display: block;
  text-align: right;
  font-size: 20px;
}
.review-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 480px) {
  .review-card {
    width: 90%;
  }
}

.product-desc {
  padding: 10px;
  color: #8f8a8a;
  border-bottom: 2px solid #e6dfdf;
}

.product-price {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #333;
  padding: 10px;
  border-bottom: 2px solid #e6dfdf;
}

.size-selector {
    border-bottom: 2px solid #e6dfdf;
    padding: 10px;
}



.add-to-cart-button{
    border-radius: 30px;
    background-color: #333;
    color: #e6dfdf;
}
.quantity-section{
    padding: 15px;
}

p{
    padding: 10px;
}

.size-option {
    background-color: #e5e5e5;
    width: 90px;
    height: 36px;
    margin-right: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(46, 42, 42);
}
.color-selector {
    padding: 10px;
    border-bottom: 2px solid #e6dfdf; 
}

