.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 280px;
    padding: 18px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    width: 100%;
    border-radius: 8px;
  }
  
  .product-info {
    margin-top: 12px;
  }
  
  .product-name {
    font-weight: 700;
    font-family: "Satoshi";
    font-size: 15px;
    margin: 8px 0;
  }
  
  .product-rating span {
    color: black;
    font-size: 10px;
  }
  
  .product-rating {
    font-size: 0.9rem;
    color: #ffd700;
    margin-bottom: 8px;
  }
  
  .product-price {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #333;
  }
  .real-price {
    margin-right: 8px;
  }
  .original-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 8px;
  }
  
  .sale-price {
    color: black;
  }
  
  .sale-percentage {
    text-align: center;
    border-radius: 20px;
    width: 30px;
    background-color: #ff33331a;
    font-size: 10px;
    font-weight: 100;
    color: #e63946;
  }
  