/* .breadcrumb {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #666;
}

.breadcrumb a {
  color: #666;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.separator {
  margin: 0 5px;
  color: #999;
}

.active {
  color: #000;
  font-weight: bold;
}

.product-detail-container {
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.product-images {
  display: flex;
  width: 50%;
}
.product-details {
  width: 50%;
}

.product-details h1 {
  font-weight: 1000;
}

.small-images {
  display: flex;
  flex-direction: column;
}
.color-selector {
  display: flex;
  flex-wrap: wrap;
  
}
.color-option {
  width: 36px;
  height: 36px;
  margin-right: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.color-selector p {
  width: 100%;
  //border-bottom: px solid #e6dfdf;
}

.color-option.selected {
  transform: scale(1.1);
  opacity: 1;
}

.size-selector {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #e6dfdf;
}
.size-option {
  background-color: gray;
  width: 90px;
  height: 36px;
  margin-right: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.size-selector p {
  width: 100%;
}

.size-option.selected {
  background-color: #000;
  color: white;

}

.quantity-section {
  display: flex;
  
}
.quantity-selector {
  width: 25%;
  display: flex;
}

.quantity {
  flex:1;
  font-size:20px;

  text-align: center;
  height: 52px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
}

.add-to-cart-button {
  width: 50%;
  margin-left: 20px;
}


.small-images img {
  border-radius: 20px;
  padding: 10px;
}

.big-image img {
  border-radius: 20px;
  padding: 10px;
}

.tab-nav {
  display: flex;
  justify-content: center;
}

.tab-nav div {
  width: 30%;
  text-align: center;
  height: 30px;
}

.tab-button {
  border-bottom: 2px solid #010101;
}

.tab-button-2 {
  color: #999;
}

.product-rating span {
  color: black;
  font-size: 20px;
}
.product-rating {
  font-size: 25px;
  color: #ffd700;
  margin-top: 8px;

  margin-bottom: 8px;
}

.product-price {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #333;
  border-bottom: 1px solid #ede6e6;
}
.real-price {
  margin-right: 8px;
  font-size: 30px;
}
.original-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 8px;
  font-size: 30px;
}
.sale-price {
  color: black;
}
.sale-percentage {
  text-align: center;
    border-radius: 20px;
    width: 50px;
    background-color: #ff33331a;
    font-size: 20px;
    font-weight: 100;
    color: #e63946;
  }
  
  .quantity-button-decrement{
    border-width: 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 40%;
    height: 52px;
    font-size:30px;
    background-color: #f0f0f0;
  }
  .quantity-button-increment{
    border-width: 0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 40%;
    height: 52px;
    font-size:30px;
    background-color: #f0f0f0;


  }
  @media (max-width: 480px) {
    .small-images img {
      width: 30%;
    }
    .tab-nav {
      justify-content: space-evenly;
    }
    .product-images {
      flex-wrap: wrap-reverse;
      width: 100%;
    }
    .small-images,
    .big-image {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .product-details {
      width: 100%;
    }
    .big-image img {
      width: 90%;
    }
  } */